# SPDX-License-Identifier: GPL-2.0-only OR MIT
menu "DockChannel HID support"
	depends on APPLE_DOCKCHANNEL

config HID_DOCKCHANNEL
	tristate "HID over DockChannel transport layer for Apple Silicon SoCs"
	default ARCH_APPLE
	depends on APPLE_DOCKCHANNEL && INPUT && OF && HID
	help
	  Say Y here if you use an M2 or later Apple Silicon based laptop.
	  The keyboard and touchpad are HID based devices connected via the
	  proprietary DockChannel interface.

endmenu
